<div class="col-sm-6 col-lg-3 visibility-hidden" data-toggle="appear" data-offset="50" data-class="animated fadeInUp">
    <!-- Developer Plan -->
    <a class="block block-bordered block-link-hover3 text-center" href="javascript:void(0)">
        <div class="block-header bg-success">
            <h3 class="block-title" style="color: white">{{ .domain}}</h3>
        </div>
        <div class="block-content block-content-full bg-gray-lighter">
            <div class="h1 font-w700 push-10">{{ .studyname}}</div>
        </div>
        <div class="block-content">
            <table class="table table-borderless table-condensed">
                <tbody>
                    <tr>
                        <td style="text-align: left;">{{ .goal }} </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="block-header">
            <h3 class="block-title">Key Features</h3>
        </div> 
        <div class="block-content">
            <table class="table table-borderless table-condensed">
                <tbody>
                    <tr>
                        <td><strong>{{ .feature1 }}</strong></td>
                    </tr>
                    <tr>
                        <td><strong>{{ .feature2 }}</strong></td>
                    </tr>
                    <tr>
                        <td><strong>{{ .feature3 }}</strong></td>
                    </tr>
                    <tr>
                        <td><strong>{{ .feature4 }}</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>                            
    </a>
    <!-- END Developer Plan -->
</div>
