<!-- Grid Content -->
<section class="content content-boxed">
    <!-- Section Content -->
    <div class="push-50-t push-50">
        <div class="row">
            <!-- Story -->
            <div class="col-md-4 visibility-hidden" data-toggle="appear" data-offset="50" data-class="animated fadeIn">
                <a class="block block-link-hover2" href="frontend_blog_story.html">
                    <img class="img-responsive" src="assets/img/photos/photo21.jpg" alt="">
                    <div class="block-content">
                        <div class="font-s12 push">
                            <em class="pull-right">10 min</em>
                            <span class="text-primary">Craig Stone</span> on July 16, 2015
                        </div>
                        <h4 class="push-10">Top 10 Destinations</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices, justo vel imperdiet gravida...</p>
                    </div>
                </a>
            </div>
            <!-- END Story -->

            <!-- Story -->
            <div class="col-md-4 visibility-hidden" data-toggle="appear" data-offset="50" data-class="animated fadeIn">
                <a class="block block-link-hover2" href="frontend_blog_story.html">
                    <img class="img-responsive" src="assets/img/photos/photo22.jpg" alt="">
                    <div class="block-content">
                        <div class="font-s12 push">
                            <em class="pull-right">15 min</em>
                            <span class="text-primary">Lisa Gordon</span> on July 13, 2015
                        </div>
                        <h4 class="push-10">Follow Your Dreams</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices, justo vel imperdiet gravida...</p>
                    </div>
                </a>
            </div>
            <!-- END Story -->

            <!-- Story -->
            <div class="col-md-4 visibility-hidden" data-toggle="appear" data-offset="50" data-class="animated fadeIn">
                <a class="block block-link-hover2" href="frontend_blog_story.html">
                    <img class="img-responsive" src="assets/img/photos/photo23.jpg" alt="">
                    <div class="block-content">
                        <div class="font-s12 push">
                            <em class="pull-right">12 min</em>
                            <span class="text-primary">Craig Stone</span> on July 6, 2015
                        </div>
                        <h4 class="push-10">Travel &amp; Work</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices, justo vel imperdiet gravida...</p>
                    </div>
                </a>
            </div>
            <!-- END Story -->
        </div>
        <div class="row">
            <!-- Story -->
            <div class="col-md-4 visibility-hidden" data-toggle="appear" data-offset="50" data-class="animated fadeIn">
                <a class="block block-link-hover2" href="frontend_blog_story.html">
                    <img class="img-responsive" src="assets/img/photos/photo24.jpg" alt="">
                    <div class="block-content">
                        <div class="font-s12 push">
                            <em class="pull-right">9 min</em>
                            <span class="text-primary">Denise Watson</span> on June 21, 2015
                        </div>
                        <h4 class="push-10">Sleep Better</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices, justo vel imperdiet gravida...</p>
                    </div>
                </a>
            </div>
            <!-- END Story -->

            <!-- Story -->
            <div class="col-md-4 visibility-hidden" data-toggle="appear" data-offset="50" data-class="animated fadeIn">
                <a class="block block-link-hover2" href="frontend_blog_story.html">
                    <img class="img-responsive" src="assets/img/photos/photo4.jpg" alt="">
                    <div class="block-content">
                        <div class="font-s12 push">
                            <em class="pull-right">5 min</em>
                            <span class="text-primary">Scott Ruiz</span> on June 16, 2015
                        </div>
                        <h4 class="push-10">Black &amp; White</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices, justo vel imperdiet gravida...</p>
                    </div>
                </a>
            </div>
            <!-- END Story -->

            <!-- Story -->
            <div class="col-md-4 visibility-hidden" data-toggle="appear" data-offset="50" data-class="animated fadeIn">
                <a class="block block-link-hover2" href="frontend_blog_story.html">
                    <img class="img-responsive" src="assets/img/photos/photo6.jpg" alt="">
                    <div class="block-content">
                        <div class="font-s12 push">
                            <em class="pull-right">3 min</em>
                            <span class="text-primary">Roger Hart</span> on June 1, 2015
                        </div>
                        <h4 class="push-10">Exploring the Alps</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices, justo vel imperdiet gravida...</p>
                    </div>
                </a>
            </div>
            <!-- END Story -->
        </div>
        <div class="row">
            <!-- Story -->
            <div class="col-md-4 visibility-hidden" data-toggle="appear" data-offset="50" data-class="animated fadeIn">
                <a class="block block-link-hover2" href="frontend_blog_story.html">
                    <img class="img-responsive" src="assets/img/photos/photo7.jpg" alt="">
                    <div class="block-content">
                        <div class="font-s12 push">
                            <em class="pull-right">9 min</em>
                            <span class="text-primary">Megan Dean</span> on May 19, 2015
                        </div>
                        <h4 class="push-10">Explore the World</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices, justo vel imperdiet gravida...</p>
                    </div>
                </a>
            </div>
            <!-- END Story -->

            <!-- Story -->
            <div class="col-md-4 visibility-hidden" data-toggle="appear" data-offset="50" data-class="animated fadeIn">
                <a class="block block-link-hover2" href="frontend_blog_story.html">
                    <img class="img-responsive" src="assets/img/photos/photo8.jpg" alt="">
                    <div class="block-content">
                        <div class="font-s12 push">
                            <em class="pull-right">14 min</em>
                            <span class="text-primary">Ethan Howard</span> on May 10, 2015
                        </div>
                        <h4 class="push-10">Meet Paris</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices, justo vel imperdiet gravida...</p>
                    </div>
                </a>
            </div>
            <!-- END Story -->

            <!-- Story -->
            <div class="col-md-4 visibility-hidden" data-toggle="appear" data-offset="50" data-class="animated fadeIn">
                <a class="block block-link-hover2" href="frontend_blog_story.html">
                    <img class="img-responsive" src="assets/img/photos/photo9.jpg" alt="">
                    <div class="block-content">
                        <div class="font-s12 push">
                            <em class="pull-right">20 min</em>
                            <span class="text-primary">Ashley Welch</span> on May 2, 2015
                        </div>
                        <h4 class="push-10">The Secret Treasure</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices, justo vel imperdiet gravida...</p>
                    </div>
                </a>
            </div>
            <!-- END Story -->
        </div>

        <!-- Pagination -->
        <nav class="text-center">
            <ul class="pagination">
                <li class="active">
                    <a href="javascript:void(0)">1</a>
                </li>
                <li>
                    <a href="javascript:void(0)">2</a>
                </li>
                <li>
                    <a href="javascript:void(0)">3</a>
                </li>
                <li>
                    <a href="javascript:void(0)">4</a>
                </li>
                <li>
                    <a href="javascript:void(0)">5</a>
                </li>
                <li>
                    <a href="javascript:void(0)"><i class="fa fa-angle-right"></i></a>
                </li>
            </ul>
        </nav>
        <!-- END Pagination -->
    </div>
    <!-- END Section Content -->
</section>
<!-- END Grid Content -->