<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111066412-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-111066412-1');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <!--meta name="author" content="Mohan Balachandran">
    <meta name="robots" content="noindex, nofollow"-->
	<meta name="description" content="{{ $.Site.Params.description }}" />
	<meta name="author" content="{{ $.Site.Params.author }}" />	
	<meta name="robots" content="{{ $.Site.Params.robots }}" />	


    <base href="{{ $.Site.BaseURL }}">
    <title>{{ $.Site.Title }}</title>
	<!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    <link rel="shortcut icon" href="/img/favicons/favicon.ico">

    <link rel="icon" type="image/png" href="/img/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/img/favicons/favicon-32x32.png" sizes="32x32">
    <!--link rel="icon" type="image/png" href="favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="favicons/favicon-160x160.png" sizes="160x160"-->
    <link rel="icon" type="image/png" href="favicons/favicon-192x192.png" sizes="192x192">

    <!--link rel="apple-touch-icon" sizes="57x57" href="favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicons/apple-touch-icon-152x152.png"-->
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png">
    <!-- END Icons -->

    <!-- Stylesheets -->
    <!-- Web fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">
    <link rel="stylesheet" href="css/main.css"/>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>    
  </head>
  <body>
  	<!-- Page Container -->
        <div id="page-container" class="side-scroll header-navbar-fixed header-navbar-transparent">
            <!-- Header -->
            <header id="header-navbar" class="content-mini content-mini-full ">
                <div class="content-boxed">
                    <!-- Header Navigation Right -->
                    <ul class="nav-header pull-right">
                        <li class="hidden-md hidden-lg">
                            <button class="btn btn-link text-white pull-right" data-toggle="class-toggle" data-target=".js-nav-main-header" data-class="nav-main-header-o" type="button">
                                <i class="fa fa-navicon"></i>
                            </button>
                        </li>
                    </ul>
                    <!-- END Header Navigation Right -->                    
                    <!-- Main Header Navigation -->
                    <ul class="js-nav-main-header nav-main-header pull-right">
                        <li class="hidden-md hidden-lg clearfix push-20">
                            <button class="btn btn-link text-white pull-right" data-toggle="class-toggle" data-target=".js-nav-main-header" data-class="nav-main-header-o" type="button">
                                <i class="fa fa-times"></i>
                            </button>

                            <!-- Logo -->
                            <a class="h5" href="index.html">
                                <img src="/img/logos/w2h-ShieldwWhitetext_177x27.png">
                            </a>
                        </li>
                        <li>
                        	<a class="active" href="platform">Platform</a>
                        </li>
                        <li>
                        	<a class="active" href="casestudies">Case Studies</a>
                        </li>                        
                        <li>
                        	<a class="active" href="academy">Academy</a>
                        </li>                        
                        <li>
                            <a class="nav-submenu active" href="javascript:void(0)">Resources</a>
                            <ul>
                                <li>
                                    <a href="podcast">Podcast</a>
                                </li>
                                <li>
                                    <a href="publications">Publications</a>
                                </li>
                                <hr>
                                <li>
                                    <a href="https://atlas.waytohealth.upenn.edu/confluence/display/WTHST/Way+to+Health+Documentation+-+Home" target="_blank">Documentation</a>
                                </li>
                                <!--li>
                                    <a href="javascript:void(0)">Support</a>
                                </li-->
                            </ul>
                        </li>
                        <li>
                            <a class="nav-submenu active" href="javascript:void(0)">Company</a>
                            <ul>
                                <li>
                                    <a href="about">About Us</a>
                                </li>
                                <li>
                                    <a href="team">Team</a>
                                </li>
                                <li>
                                    <a href="blog">Company Blog</a>
                                </li>
                                <!--li>
                                    <a href="enggblog">Engineering Blog</a>
                                </li-->
                                <li>
                                    <a href="press">Press</a>
                                </li>
                                <!--li>
                                    <a href="events">Events</a>
                                </li-->
                            </ul>
                        </li>
                        <li>
                            <!--a class="active" href="frontend_login">Login</a-->
                            <a class="btn btn-rounded btn-sm btn-info visibility-hidden active" data-toggle="appear" data-class="animated bounceIn" href="contact">Contact Us</a>                            
                        </li>                       
                    </ul>
                    <!-- END Main Header Navigation -->

                    <!-- Header Navigation Left -->
                    <ul class="nav-header pull-left">
                        <li class="header-content">
                            <a class="h5" href="index.html">
                               <span class="h4 font-w600 text-white"><img src="/img/logos/w2h-ShieldwWhitetext_177x27.png"></span>
                            </a>
                        </li>
                    </ul>
                    <!-- END Header Navigation Left -->                	
                </div>
            </header>

