<!-- Hero Content -->
<div class="bg-image bg-image-cover" style="background-image: url('{{.imageUrl}}');">
    <div>
        <section class="content content-full content-boxed overflow-hidden">
            <!-- Section Content -->
            <div class="push-100-t push-50 text-center">
                <h1 class=" text-white push-10 visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">{{.title}}</h1>
                {{ if .subtitle}}
                <br><br>
                <h2 class="text-white-op push-50 visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">{{.subtitle}}</h2>
                {{ end }}
            </div>
            <!-- END Section Content -->
        </section>
    </div>
</div>
<!-- END Hero Content -->