<!-- Hero Content -->
{{ if .imageUrl }}
<div class="bg-image bg-image-cover angle--bottom-right" style="background-image: url('{{.imageUrl}}');">
    {{else }}
<div class="bg-image bg-image-cover angle--bottom-right" style="background-color: {{.bgcolor}}; color: white">
{{ end }}
    <div>
        <section class="content content-full content-boxed overflow-hidden">
            <!-- Section Content -->
            <div class="push-150-t push-150 text-center">
                {{ if .biglogo }}
                <img class="img-responsive center" src="{{.biglogo}}">
                {{ end }}
                <h1 class=" text-white push-50 push-50-t visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">{{.title}}</h1>
                {{ if .subtitle}}
                <br><br>
                <h2 class="text-white-op push-50 visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">{{.subtitle}}</h2>
                {{ end }}
            </div>
            <!--div class="row visibility-hidden" >
                <div class="col-sm-8 col-sm-offset-2">
                    <img class="img-responsive pull-b" src="{{.imageUrl}}" alt="">
                </div>
            </div-->
            <!-- END Section Content -->
        </section>
    </div>
</div>
<!-- END Hero Content -->