{{ $pag := .Paginate (where .Data.Pages "Type" "post") }}
{{ $first := sub $pag.PageNumber 4 }}
{{ $last := add $pag.PageNumber 4 }}
<div class="block">
    <ul class="pagination" style="white-space:nowrap;">
    {{ if $pag.HasPrev }}
    <li><a href="{{ $pag.First.URL }}">&laquo;First</a></li>
    <li><a href="{{ $pag.Prev.URL }}">&laquo;Prev</a></li>
    {{ end }}

    <li {{ if not $pag.HasPrev }}class="active"{{ end }}><a href="{{ $pag.First.URL }}">1</a></li>
    {{ if gt $first 2 }}
    <li>...</li>
    {{ end }}

    {{ range $pag.Pagers }}
    {{ if and (gt .PageNumber 1) (ge .PageNumber $first) (lt .PageNumber $last) (lt .PageNumber $pag.TotalPages) }}
    <li {{ if eq . $pag }}class="active"{{ end }}><a href="{{ .URL }}">{{ .PageNumber }}</a></li>
    {{ end }}
    {{ end }}

    {{ if lt $last $pag.TotalPages }}
    <li>...</li>
    {{ end }}
    <li {{ if not $pag.HasNext }}class="active"{{ end }}><a href="{{ $pag.Last.URL }}">{{ $pag.TotalPages }}</a></li>

    {{ if $pag.HasNext }}
    <li><a href="{{ $pag.Next.URL }}">Next &raquo;</a></li>
    <li><a href="{{ $pag.Last.URL }}">Last &raquo;</a></li>
    {{ end }}
    </ul>
</div>