{{ partial "header" .}}
<main id="platform">
    {{ partial "hero-splash" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle "bgcolor" .Params.bgcolor) }}
	<!-- Page Content -->
	<div class="content content-boxed">
	    <!-- Frequently Asked Questions -->
	    <div class="block">
	        <div class="block-content block-content-full block-content-narrow">
	        	{{ with .Params.patientcommunication}}
	        	<h2 class="h3 font-w600 push-30-t push">{{.itemset}}</h2>
	        	<p>{{.intro}}</p>
	        	{{ range .items }}
	        	{{ partial "collapsed" . }}
	        		{{end }}
	        	{{end}}
	        </div>
	        <div class="block-content block-content-full block-content-narrow">
	        	{{ with .Params.be}}
	        	<h2 class="h3 font-w600 push-30-t push">{{.itemset}}</h2>
	        	<p>{{.intro}}</p>
	        	{{ range .items }}
	        	{{ partial "collapsed" . }}
	        		{{end }}
	        	{{end}}
	        </div>
	        <div class="block-content block-content-full block-content-narrow">
	        	{{ with .Params.deviceintegration}}
	        	<h2 class="h3 font-w600 push-30-t push">{{.itemset}}</h2>
	        	<p>{{.intro}}</p>
	        	{{ range .items }}
	        	{{ partial "collapsed" . }}
	        		{{end }}
	        	{{end}}
	        </div>
	        <div class="block-content block-content-full block-content-narrow">
	        	{{ with .Params.rct}}
	        	<h2 class="h3 font-w600 push-30-t push">{{.itemset}}</h2>
	        	<p>{{.intro}}</p>
	        	{{ range .items }}
	        	{{ partial "collapsed" . }}
	        		{{end }}
	        	{{end}}
	        </div>
	        <div class="block-content block-content-full block-content-narrow">
	        	{{ with .Params.implementation}}
	        	<h2 class="h3 font-w600 push-30-t push">{{.itemset}}</h2>
	        	<p>{{.intro}}</p>
	        	{{ range .items }}
	        	{{ partial "collapsed" . }}
	        		{{end }}
	        	{{end}}
	        </div>
	        <div class="block-content block-content-full block-content-narrow">
	        	{{ with .Params.rulesengine}}
	        	<h2 class="h3 font-w600 push-30-t push">{{.itemset}}</h2>
	        	<p>{{.intro}}</p>
	        	{{ range .items }}
	        	{{ partial "collapsed" . }}
	        		{{end }}
	        	{{end}}
	        </div>
	    </div>
	</div>
</main>
{{ partial "footer" .}}