{{ partial "header" .}}

<main id="platform">
    {{ partial "hero-splash" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle "bgcolor" .Params.bgcolor) }}

        <div class="content" style="background-color: #03A9F4; color: white;">
    <div class="content text-center">
        <section class="content content-boxed">    
            <h3 class="h2 font-w300 push-5">{{.Params.introduction | markdownify}}</h3>
        </section>
        <br/><br/>
    </div>            
            <section class="content content-boxed overflow-hidden push-150">
                <!-- Section Content -->
                <div class="row items-push nice-copy">
                    {{ with .Params.patientcommunication}}
                    <div class="col-lg-5">
                        <div class="push-50 visibility-hidden" data-toggle="appear" data-class="animated fadeInLeft">
                            <h3 class="h3 font-w600 text-uppercase push-5"><i class="fa fa-{{.featureicon}} push-5-r"></i>{{.featureset}}</h3>
                        </div>                                
                        <img class="visibility-hidden visible-lg col-lg-offset-1" data-toggle="appear" data-offset="-300" data-class="animated fadeInLeft" src="{{.featureimage}}" alt="" style="height: 505px;">
                    </div>
                        {{ range .blurbs}}
                    <div class="col-lg-5 col-lg-offset-1">
                        <div class="push-50-t visibility-hidden" data-toggle="appear" data-class="animated fadeInRight">
                            <h3 class="h5 font-w600 text-uppercase push-5"> {{.feature}}</h3>
                            <h4 class="h3 font-w300 push-10">{{.header}}</h4>
                            <p>{{.text}}</p>
                        </div>
                    </div>
                        {{ end }}
                    {{ end }}
                </div>
            </section>
        </div>
        <div class="content" style="background-color: #2980b9; color: white;">
            <section class="content content-boxed overflow-hidden push-150">
                <!-- Section Content -->
                <div class="row items-push nice-copy">
                    {{ with .Params.deviceintegration}}                    
                        <div class="push-50 visibility-hidden" data-toggle="appear" data-class="animated fadeInLeft">
                            <h3 class="h3 font-w600 text-uppercase push-5"><i class="fa fa-{{.featureicon}} push-5-r"></i>{{.featureset}}</h3>
                        </div> 
                    <div class="col-lg-5 visibility-hidden" data-toggle="appear" data-class="animated fadeInLeft">
                        {{ range .blurbs}}
                        <div class="push-50-t">
                            <h3 class="h5 font-w600 text-uppercase push-5">{{.feature}}</h3>
                            <h4 class="h3 font-w300 push-10">{{.header}}</h4>
                            <p>{{.text}}</p>
                        </div>
                        {{ end }}
                    </div>
                    <div class="col-lg-5 col-lg-offset-2 visible-lg">                               
                        <img class="img-responsive visibility-hidden" data-toggle="appear" data-offset="-300" data-class="animated fadeInRight" src="{{.featureimage}}" alt="">
                    </div>                        
                    {{ end }}
                </div>
            </section>
        </div>
        <div class="content" style="background-color: #03A9F4; color: white;">
            <section class="content content-boxed overflow-hidden push-150">
                <!-- Section Content -->
                <div class="row items-push nice-copy">
                    {{ with .Params.rct}}
                    <div class="col-lg-5">
                        <div class="push-50 visibility-hidden" data-toggle="appear" data-class="animated fadeInLeft">
                            <h3 class="h3 font-w600 text-uppercase push-5"><i class="fa fa-{{.featureicon}} push-5-r"></i>{{.featureset}}</h3>
                        </div>                                
                        <img class="img-responsive visibility-hidden visible-lg" data-toggle="appear" data-offset="-300" data-class="animated fadeInLeft" src="{{.featureimage}}" alt="" style="height: 505px;">
                    </div>
                        {{ range .blurbs}}
                    <div class="col-lg-5 col-lg-offset-2">
                        <div class="push-50-t visibility-hidden" data-toggle="appear" data-class="animated fadeInRight">
                            <h3 class="h5 font-w600 text-uppercase push-5"> {{.feature}}</h3>
                            <h4 class="h3 font-w300 push-10">{{.header}}</h4>
                            <p>{{.text}}</p>
                        </div>
                    </div>
                        {{ end }}
                    {{ end }}
                </div>
            </section>
        </div>
        <div class="content" style="background-color: #2980b9; color: white;">
                    <section class="content content-boxed overflow-hidden push-150">
                <!-- Section Content -->
                <div class="row items-push nice-copy">
                    {{ with .Params.be}}                    
                        <div class="push-50 visibility-hidden" data-toggle="appear" data-class="animated fadeInLeft">
                            <h3 class="h3 font-w600 text-uppercase push-5"><i class="fa fa-{{.featureicon}} push-5-r"></i>{{.featureset}}</h3>
                        </div> 
                    <div class="col-lg-5 visibility-hidden" data-toggle="appear" data-class="animated fadeInLeft">
                        {{ range .blurbs}}
                        <div class="push-50-t">
                            <h3 class="h5 font-w600 text-uppercase push-5">{{.feature}}</h3>
                            <h4 class="h3 font-w300 push-10">{{.header}}</h4>
                            <p>{{.text}}</p>
                        </div>
                        {{ end }}
                    </div>
                    <div class="col-lg-5 col-lg-offset-2 visible-lg">                               
                        <img class="img-responsive visibility-hidden" data-toggle="appear" data-offset="-300" data-class="animated fadeInRight" src="{{.featureimage}}" alt="">
                    </div>                        
                    {{ end }}
                </div>
            </section>
        </div>
        <div class="content" style="background-color: #03A9F4; color: white;">
            <section class="content content-boxed overflow-hidden push-150">
                <!-- Section Content -->
                <div class="row items-push nice-copy">
                    {{ with .Params.rulesengine}}
                    <div class="col-lg-5">
                        <div class="push-50 visibility-hidden" data-toggle="appear" data-class="animated fadeInLeft">
                            <h3 class="h3 font-w600 text-uppercase push-5"><i class="fa fa-{{.featureicon}} push-5-r"></i>{{.featureset}}</h3>
                        </div>                                
                        <img class="img-responsive visibility-hidden visible-lg" data-toggle="appear" data-offset="-300" data-class="animated fadeInLeft" src="{{.featureimage}}" alt="" style="height: 505px;">
                    </div>
                        {{ range .blurbs}}
                    <div class="col-lg-5 col-lg-offset-2">
                        <div class="push-50-t visibility-hidden" data-toggle="appear" data-class="animated fadeInRight">
                            <h3 class="h5 font-w600 text-uppercase push-5"> {{.feature}}</h3>
                            <h4 class="h3 font-w300 push-10">{{.header}}</h4>
                            <p>{{.text}}</p>
                        </div>
                    </div>
                        {{ end }}
                    {{ end }}
                </div>
            </section>
        </div>        
        <div >
            <section class="content content-full content-boxed">
                <!-- CTA Content -->
                <div class="push-20-t push-20 text-center">
                    <p class="lead">Explore how innovators have used these features successfully</p>
                    <a class="btn btn-rounded btn-noborder btn-lg btn-success" href="casestudies">View case studies</a>
                </div>
                <!-- END CTA Content -->
            </section>
        </div>

    </div>
</main>

{{ partial "footer" .}}
