{{ partial "header" . }}

<main id="casestudies">
    {{ partial "hero-splash" (dict "imageUrl" "" "title" "Successes and Spotlights" "subtitle" "Read more about how innovators use Way To Health to achieve measurable outcomes" "bgcolor" "#6145ca") }}
        <div>
            <br/><br/>
            <section class="content content-boxed overflow-hidden">
                <p class="lead text-center">Some of the studies referenced below are still ongoing. As you can imagine, details for those cannot be provided at this time. Completed or published studies have a lot more detail and can be accessed by clicking on the card itself.</p>
                <br/>
                <!--p>
                    <input type="text" id="quicksearch" placeholder="Search" />
                </p-->
                <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <input class="form-control" type="text" id="quicksearch" name="quicksearch" placeholder="Search">
                </div>                
                <div class="row">
                    <div class="btn-group btn-group-justified" id="filters">
                        <div class="btn-group">
                            <button class="btn btn-default active">All</button>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-default" data-filter=".research">Research</button>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-default" data-filter=".clinical">Clinical</button>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="grid">
				{{ range .Data.Pages }}
				{{ partial "4by1cards" . }}
				{{ end }} 
				</div>
			</section>				
		{{ template "_internal/pagination.html" . }}
		</div>
</main>

{{ partial "footer" . }}