{{ partial "header" . }}

<main id="casestudies">
    {{ partial "hero-splash" (dict "imageUrl" "" "title" "Successes and Spotlights" "subtitle" "Read more about how innovators use Way To Health to achieve measurable outcomes" "bgcolor" "#6145ca") }}
        <div>
            <br/><br/>
            <section class="content content-boxed overflow-hidden">
                <p class="lead text-center">Details about completed or published studies can be accessed by clicking on the green cards.</p>
                <p class="text-center">This is just a small subset of Way To Health studies. More are coming soon.</p>
                <br/>
                <!--p>
                    <input type="text" id="quicksearch" placeholder="Search" />
                </p-->
                <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <input class="form-control" type="text" id="quicksearch" name="quicksearch" placeholder="Search">
                </div>
            </section>
            <section class="content content-boxed overflow-hidden">
                <div class="row text-center">
                    <div class="btn-group" id="filters">
                        <div class="btn-group">
                            <button class="btn btn-primary active">All</button>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-primary" data-filter=".research">Research</button>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-primary" data-filter=".clinical">Clinical</button>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="grid">
				{{ range .Data.Pages }}
				{{ partial "4by1cards" . }}
				{{ end }} 
				</div>
			</section>				
		{{ template "_internal/pagination.html" . }}
		</div>
</main>

{{ partial "footer" . }}