{{ partial "header" . }}

<main id="main-container">
{{ partial "hero" (dict "imageUrl" "/img/photos/photo17@2x.jpg" "title" "Successes and Spotlights" "subtitle" "Read more about how innovators use Way To Health to achieve measurable outcomes") }}

        <div class="bg-gray-lighter">
            <br/><br/>
            <section class="content content-boxed overflow-hidden">
            <h2 class="h2 push-50 visibility-hidden text-center" data-toggle="appear"> CASE STUDY HIGHLIGHTS</h2>                
                <h3 class="h2 font-w600 push-50">Clinical</h3>
            {{ range .Data.Pages }}
                <div class="row push-20-t push-20">               
                <!-- Clinical Case Studies Content -->
<div class="col-sm-6 col-lg-3 visibility-hidden" data-toggle="appear" data-offset="50" data-class="animated fadeInUp">
    <!-- Developer Plan -->
    <a class="block block-bordered block-link-hover3 text-center" href="javascript:void(0)">
        <div class="block-header bg-success">
            <h3 class="block-title" style="color: white">{{ .tag}}</h3>
        </div>
        <div class="block-content block-content-full bg-gray-lighter">
            <div class="h1 font-w700 push-10">{{ .title}}</div>
        </div>
        <div class="block-content">
            <table class="table table-borderless table-condensed">
                <tbody>
                    <tr>
                        <td style="text-align: left;">{{ .summary }} </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="block-header">
            <h3 class="block-title">Key Features</h3>
        </div> 
        <!--div class="block-content">
            <table class="table table-borderless table-condensed">
                <tbody>
                    <tr>
                        <td><strong>{{ .feature1 }}</strong></td>
                    </tr>
                    <tr>
                        <td><strong>{{ .feature2 }}</strong></td>
                    </tr>
                    <tr>
                        <td><strong>{{ .feature3 }}</strong></td>
                    </tr>
                    <tr>
                        <td><strong>{{ .feature4 }}</strong></td>
                    </tr>
                </tbody>
            </table>
        </div-->                            
    </a>
    <!-- END Developer Plan -->
</div>
                    
            {{ end }}
                <!-- END Clinical Case Studies Section Content -->
                </div>
            </section>           
        </div>
</main>

{{ partial "footer" . }}