{{ partial "header" . }}

<main id="blog">
    {{ partial "hero-splash" (dict "imageUrl" "/img/photos/photo18@2x.jpg" "title" "Peer reviewed publications using the Way To Health platform" "subtitle" "Innovative research and evidence based publications" "bgcolor" "") }}
    <div class="white">
        <br/><br/>
        <section class="content content-boxed">
{{ range (.Paginate (where .Data.Pages "Section" "!=" "page")).Pages }}
            <div class="push-50-t push-50">
                <div class="row">
                    <div class="block">
                        <div class="block-content">
                            <div class="row items-push">
                                <em class="pull-right">{{ .Date.Format "Jan, 2006" }}</em>
                                <h4 class="text-uppercase push-10"><a class="text-primary-dark" target="_blank" href="{{.Params.source}}">{{.Params.title}}</a></h4>
                                <div class="font-s12 push-20">
                                    {{.Params.authors}}
                                </div>                                    
                                <p class="push-20">{{.Params.summary | markdownify}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{{ end }} 
{{ template "_internal/pagination.html" . }}
        </section>
    </div>
</main>

{{ partial "footer" . }}