{{ partial "header" . }}

    <!-- Main Container -->
    <main id="main-container">
	{{ partial "hero" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

        <!-- Mini Stats -->
        <div class="bg-white">
            <section class="content content-boxed">
                <!-- Section Content -->
            {{ with .Params.stats }}
                <div class="row items-push push-20-t push-20 text-center"> 
                {{ range .highlights }}        
                    {{ partial "mstats" . }}
                {{ end }}
                </div>
            {{ end }}
            </section>
        </div>
        <!-- END Mini Stats -->

        <!-- Classic Features #1 -->
        <!-- Grid Features -->
        <div class="bg-primary">
            <section class="content content-boxed overflow-hidden">
                <!-- Section Content -->
                <div class="row items-push-2x push-50-t nice-copy">
            {{ with .Params.research }}
                <h3 class="h3 push-20 visibility-hidden" style="color: white"  data-toggle="appear">{{ .title }}</h3>
                {{ range .blurbs }}            
                    {{ partial "grid" . }}
                {{ end }}
            {{ end }}
            {{ with .Params.clinical }}
                <h3 class="h3 push-20 visibility-hidden" style="color: white"  data-toggle="appear">{{ .title }}</h3>
                {{ range .blurbs }}            
                    {{ partial "grid" . }}
                {{ end }}
            {{ end }}            
                </div>
            </section>
        </div>
        <!-- END Classic Features #1 -->

        <div class="content bg-white">
            <!-- Icon Tiles -->
        {{ with .Params.customers }}             
            <h2 class="h2 push-50 visibility-hidden text-center" data-toggle="appear">{{ .title }}</h3>
            <div class="content-grid push-50">               
                <div class="row">
                {{ range .logos }}                    
                    {{ partial "6by1mini" . }}
                {{ end }}
                </div>
        {{ end }}
            </div>
        </div>
            <!-- END Icon Tiles -->
        <!-- Logos >
        <div class="bg-success">
            <section class="content content-full content-boxed">
                <h2 class="h2 push-50 visibility-hidden text-center" style="color: white"  data-toggle="appear">Trusted by leading research and clinical organizations</h3>                
                {{ partial "6by1mini" .Params.intro }}
            </section>
        </div>
        <!-- End Logos -->

        <!-- Get Started -->
        <div class="bg-gray-lighter">
            <section class="content content-full content-boxed">
                <!-- Section Content -->
                <div class="push-20-t push-20 text-center">
                    <h3 class="h4 push-20 visibility-hidden" data-toggle="appear">Clean design in one powerful package. It was made for your next awesome project.</h3>
                    <a class="btn btn-rounded btn-noborder btn-lg btn-success visibility-hidden" data-toggle="appear" data-class="animated bounceIn" href="frontend_pricing.html">Get Started Today</a>
                </div>
                <!-- END Section Content -->
            </section>
        </div>
        <!-- END Get Started -->
    </main>
    <!-- END Main Container -->

{{ partial "footer" . }}
