{{ partial "header" . }}

    <!-- Main Container -->
    <main id="main-container bg-white">
	{{ partial "hero-splash" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle "bgcolor" .Params.bgcolor "biglogo" .Params.biglogo) }}
        <!-- Mini Stats -->
        <div class="bg-white">
            <section class="content content-boxed text-center">
                <h2 class="h2 push-50 text-center">{{ .Params.summary | markdownify}}</h2>
                <!-- Section Content -->
            {{ with .Params.stats }}
                <div class="row items-push push-20-t push-20 text-center"> 
                {{ range .highlights }}        
                    {{ partial "mstats" . }}
                {{ end }}
                </div>
            {{ end }}
            </section>
        </div>
        <!-- END Mini Stats -->
        <div class="content bg-white">
            <!-- Icon Tiles -->
        {{ with .Params.customers }}             
            <h2 class="h3 push-50 visibility-hidden text-center" data-toggle="appear">{{ .title }}</h2>
            <div class="content-grid push-50">               
                <div class="row">
                {{ range .logos }}                    
                    {{ partial "6by1mini" . }}
                {{ end }}
                </div>
        {{ end }}
            </div>
        </div>        

        <!-- Classic Features #1 -->
        <!-- Grid Features -->
        <div class="angle--top-left col-lg-12 col-md-12 col-sm-12 col-xs-12"  style="background-color: #3F51B5; color: white; text-align: center;">
            <section class="content content-boxed push-100-t ">
                <div class="row ">
                    <h1>Do more with Way to Health</h1><br/>
                     <h3 class="h3 font-w400 text-center push-10">Mix and match modules from Way To Health's suite to personalize interventions</h3>
                    <br/><br/>
                </div>
                <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 push-20-t items-push-3x nice-copy">
                    {{ with .Params.keyfeatures }}
                                {{ range .blurbs }}            
                                    {{ partial "grid" . }}
                                {{ end }}
                    {{ end }}
                </div>
            </section>       
            <section class="content content-full content-boxed push-50" style="background-color: #3F51B5; color: white;">
                <!-- CTA Content -->
                <div class="text-center">
                    <a class="btn btn-rounded btn-noborder btn-lg" style="background-color: white; color: #3F51B5" href="platform">Learn more</a>
                </div>
                <!-- END CTA Content -->
            </section>            
        </div>
        <!-- Case studies -->
{{ $v1 := where .Data.Pages "Section" "casestudies" }}
{{ $v2 := where .Data.Pages "Params.spotlight" true }}
{{ $v3 := where .Data.Pages "Params.area" "clinical"}}
{{ $v4 := where .Data.Pages "Params.area" "research"}}
{{ $filteredclinical := $v1 | intersect $v2 | intersect $v3 }}
{{ $filteredresearch := $v1 | intersect $v2 | intersect $v4 }}
        <!--div style="background-color: #6145ca; color: white;"-->
        <div >
            <br/><br/>
            <section class="content content-boxed overflow-hidden">
            <h2 class="h2 push-50 visibility-hidden text-center" data-toggle="appear"> CASE STUDY SPOTLIGHTS</h2>
            <!--p class="lead text-center">Click on any of the cards below to learn more</p-->
                <div class="row text-center">
                    <div class="btn-group" id="filters">
                        <div class="btn-group">
                            <button class="btn btn-primary btn-square active">All</button>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-primary btn-square" data-filter=".research">Research</button>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-primary btn-square" data-filter=".clinical">Clinical</button>
                        </div>
                    </div>
                </div>
                <div class="row push-20-t push-20">
                    <div class="grid">
                        <!--h2 class="h2 push-50 visibility-hidden text-center" data-toggle="appear">Clinical Highlights</h2><br/><br/-->
                            {{ range first 3 $filteredresearch }}
                             {{ partial "3by1cards" . }} 
                            {{ end }}
                    <!--/div>
                    <div class="row push-20-t push-20"> 
                         <h2 class="h2 push-50 visibility-hidden text-center" data-toggle="appear">Research Highlights</h2><br/><br/-->
                            {{ range first 3 $filteredclinical }}
                             {{ partial "3by1cards" . }} 
                            {{ end }} 
                    </div>
                </div> 
            </section>         
        <div>
            <section class="content content-full content-boxed">
                <!-- CTA Content -->
                <div class="push-20-t push-20 text-center">
                    <a class="btn btn-rounded btn-noborder btn-lg btn-success" href="casestudies">View more case studies</a>
                </div>
                <!-- END CTA Content -->
            </section>
        </div>
        </div>
    </main>
    <!-- END Main Container -->

{{ partial "footer" . }}
