{{ partial "header" . }}

    <!-- Main Container -->
    <main id="main-container">
	{{ partial "hero" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}
        <!-- Mini Stats -->
        <div class="bg-primary">
            <section class="content content-boxed">
                <!-- Section Content -->
            {{ with .Params.stats }}
                <div class="row items-push push-20-t push-20 text-center"> 
                {{ range .highlights }}        
                    {{ partial "mstats" . }}
                {{ end }}
                </div>
            {{ end }}
            </section>
        </div>
        <!-- END Mini Stats -->

        <!-- Classic Features #1 -->
        <!-- Grid Features -->
        <div class="bg-gray-lighter">
            <section class="content content-boxed">
                <p class="lead">{{ .Params.summary }}</p>                 
                <!-- Section Content -->
                <div class="row items-push-3x push-50-t nice-copy">
            <!--h3 class="h3 push-20 visibility-hidden" style="color: white"  data-toggle="appear">What we do</h3-->
                    {{ with .Params.research }}
                        <h3 class="h3 font-w600 push-50 text-uppercase push-10 visibility-hidden" data-toggle="appear">{{ .title }}</h3>
                        {{ range .blurbs }}            
                            {{ partial "grid" . }}
                        {{ end }}
                    {{ end }}
                    {{ with .Params.clinical }}
                        <h3 class="h3 push-20 visibility-hidden" data-toggle="appear">{{ .title }}</h3>
                        {{ range .blurbs }}            
                            {{ partial "grid" . }}
                        {{ end }}
                    {{ end }}            
                        </div>                     
            </section>             
        </div>
        <div class="bg-gray-lighter">
            <section class="content content-full content-boxed">
                <!-- CTA Content -->
                <div class="text-center">
                    <a class="btn btn-rounded btn-noborder btn-lg btn-primary" href="platform">Learn more</a>
                </div>
                <!-- END CTA Content -->
            </section>
        </div>
        <!-- END Classic Features #1 -->

        <div class="content bg-white">
            <!-- Icon Tiles -->
        {{ with .Params.customers }}             
            <h2 class="h2 push-50 visibility-hidden text-center" data-toggle="appear">{{ .title }}</h2>
            <div class="content-grid push-50">               
                <div class="row">
                {{ range .logos }}                    
                    {{ partial "6by1mini" . }}
                {{ end }}
                </div>
        {{ end }}
            </div>
        </div>
            <!-- END Icon Tiles -->
        <!-- Logos >
        <div class="bg-success">
            <section class="content content-full content-boxed">
                <h2 class="h2 push-50 visibility-hidden text-center" style="color: white"  data-toggle="appear">Trusted by leading research and clinical organizations</h3>                
                {{ partial "6by1mini" .Params.intro }}
            </section>
        </div>
        <!-- End Logos -->

        <!-- Case studies -->
        <div class="bg-primary">
            <br/><br/>
            <section class="content content-boxed overflow-hidden">
            <h2 class="h2 push-50 visibility-hidden text-center" data-toggle="appear"> CASE STUDY SPOTLIGHTS</h2>                
                <h3 class="h2 font-w600 push-50">Clinical</h3>
        {{ with .Params.clinicalhighlights}}
                <div class="row push-20-t push-20">               
                <!-- Clinical Case Studies Content -->
                {{ range .studies}}
                    {{ partial "4by1cards" . }}
                {{ end }}
            {{ end }}
                <!-- END Clinical Case Studies Section Content -->
                </div>
            </section>
            <section class="content content-boxed overflow-hidden">
                <h3 class="h2 font-w600 push-50">Research</h3>
        {{ with .Params.researchhighlights}}
                <div class="row push-20-t push-20">               
                <!-- Research case studies Section Content -->
                {{ range .studies}}
                    {{ partial "4by1cards" . }}
                {{ end }}
            {{ end }}
                <!-- END Research Case Studies Section Content -->
                </div>
            </section>            
        </div>
        <div class="bg-primary">
            <section class="content content-full content-boxed">
                <!-- CTA Content -->
                <div class="push-20-t push-20 text-center">
                    <a class="btn btn-rounded btn-noborder btn-lg btn-success" href="casestudies">Learn more</a>
                </div>
                <!-- END CTA Content -->
            </section>
        </div>

    </main>
    <!-- END Main Container -->

{{ partial "footer" . }}
