{{ partial "header" .}}

    <!-- Main Container -->
<main id="about">
	{{ partial "hero" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

    <div class="content bg-white">
        <section class="content content-boxed">
            <p class="lead">{{ .Params.introduction }}</p>
	    	<div class="row">
	            <div class="col-lg-12">
	                <!-- Icon Based -->
	                <div class="block block-themed">
	                    <div class="block-header bg-primary">
	                        <h3 class="block-title">Timeline</h3>
	                    </div>
	                    <div class="block-content">
	                        <ul class="list list-timeline pull-t">
	                            <!-- Facebook Notification -->
	                            <li>
	                                <div class="list-timeline-time">3 hrs ago</div>
	                                <i class="fa fa-facebook list-timeline-icon bg-default"></i>
	                                <div class="list-timeline-content">
	                                    <p class="font-w600">+ 290 Page Likes</p>
	                                    <p class="font-s13">This is great, keep it up!</p>
	                                </div>
	                            </li>
	                            <!-- END Facebook Notification -->

	                            <!-- Photo Notification -->
	                            <li>
	                                <div class="list-timeline-time">4 hrs ago</div>
	                                <i class="fa fa-picture-o list-timeline-icon bg-flat"></i>
	                                <div class="list-timeline-content">
	                                    <p class="font-w600">+ 3 New Photos</p>
	                                    <p class="font-s13">Travel hacks and ideas!</p>
	                                    <!-- Gallery (.js-gallery class is initialized in App() -> uiHelperMagnific()) -->
	                                    <!-- For more info and examples you can check out http://dimsemenov.com/plugins/magnific-popup/ -->
	                                    <div class="row items-push js-gallery">
	                                        <div class="col-sm-6 col-lg-4">
	                                            <a class="img-link" href="assets/img/photos/photo2@2x.jpg">
	                                                <img class="img-responsive" src="assets/img/photos/photo2.jpg" alt="">
	                                            </a>
	                                        </div>
	                                        <div class="col-sm-6 col-lg-4">
	                                            <a class="img-link" href="assets/img/photos/photo8@2x.jpg">
	                                                <img class="img-responsive" src="assets/img/photos/photo8.jpg" alt="">
	                                            </a>
	                                        </div>
	                                        <div class="col-sm-6 col-lg-4">
	                                            <a class="img-link" href="assets/img/photos/photo16@2x.jpg">
	                                                <img class="img-responsive" src="assets/img/photos/photo16.jpg" alt="">
	                                            </a>
	                                        </div>
	                                    </div>
	                                </div>
	                            </li>
	                            <!-- END Photos Notification -->

	                            <!-- Twitter Notification -->
	                            <li>
	                                <div class="list-timeline-time">12 hrs ago</div>
	                                <i class="fa fa-twitter list-timeline-icon bg-info"></i>
	                                <div class="list-timeline-content">
	                                    <p class="font-w600">+ 1150 Followers</p>
	                                    <p class="font-s13">You’re getting more and more followers, keep it up!</p>
	                                </div>
	                            </li>
	                            <!-- END Twitter Notification -->

	                            <!-- System Notification -->
	                            <li>
	                                <div class="list-timeline-time">1 day ago</div>
	                                <i class="fa fa-database list-timeline-icon bg-smooth"></i>
	                                <div class="list-timeline-content">
	                                    <p class="font-w600">Database backup completed!</p>
	                                    <p class="font-s13">Download the <a href="javascript:void(0)">latest backup</a>.</p>
	                                </div>
	                            </li>
	                            <!-- END System Notification -->

	                            <!-- Social Notification -->
	                            <li>
	                                <div class="list-timeline-time">2 days ago</div>
	                                <i class="fa fa-user-plus list-timeline-icon bg-success"></i>
	                                <div class="list-timeline-content">
	                                    <p class="font-w600">+ 3 Friend Requests</p>
	                                    <ul class="nav-users push-10-t push">
	                                        <li>
	                                            <a href="base_pages_profile.html">
	                                                <img class="img-avatar" src="assets/img/avatars/avatar6.jpg" alt="">
	                                                <i class="fa fa-circle text-success"></i> Sara Holland
	                                                <div class="font-w400 text-muted"><small>Web Designer</small></div>
	                                            </a>
	                                        </li>
	                                        <li>
	                                            <a href="base_pages_profile.html">
	                                                <img class="img-avatar" src="assets/img/avatars/avatar16.jpg" alt="">
	                                                <i class="fa fa-circle text-success"></i> Vincent Sims
	                                                <div class="font-w400 text-muted"><small>Graphic Designer</small></div>
	                                            </a>
	                                        </li>
	                                        <li>
	                                            <a href="base_pages_profile.html">
	                                                <img class="img-avatar" src="assets/img/avatars/avatar7.jpg" alt="">
	                                                <i class="fa fa-circle text-success"></i> Julia Cole
	                                                <div class="font-w400 text-muted"><small>Photographer</small></div>
	                                            </a>
	                                        </li>
	                                    </ul>
	                                </div>
	                            </li>
	                            <!-- END Social Notification -->

	                            <!-- Photo Notification -->
	                            <li>
	                                <div class="list-timeline-time">6 days ago</div>
	                                <i class="fa fa-picture-o list-timeline-icon bg-flat"></i>
	                                <div class="list-timeline-content">
	                                    <p class="font-w600">+ 2 New Photos</p>
	                                    <p class="font-s13">Went hiking and had a great time!</p>
	                                    <!-- Gallery (.js-gallery class is initialized in App() -> uiHelperMagnific()) -->
	                                    <!-- For more info and examples you can check out http://dimsemenov.com/plugins/magnific-popup/ -->
	                                    <div class="row items-push js-gallery">
	                                        <div class="col-sm-6 col-lg-4">
	                                            <a class="img-link" href="assets/img/photos/photo13@2x.jpg">
	                                                <img class="img-responsive" src="assets/img/photos/photo13.jpg" alt="">
	                                            </a>
	                                        </div>
	                                        <div class="col-sm-6 col-lg-4">
	                                            <a class="img-link" href="assets/img/photos/photo14@2x.jpg">
	                                                <img class="img-responsive" src="assets/img/photos/photo14.jpg" alt="">
	                                            </a>
	                                        </div>
	                                    </div>
	                                </div>
	                            </li>
	                            <!-- END Photo Notification -->

	                            <!-- System Notification -->
	                            <li>
	                                <div class="list-timeline-time">1 week ago</div>
	                                <i class="fa fa-cog list-timeline-icon bg-primary-dark"></i>
	                                <div class="list-timeline-content">
	                                    <p class="font-w600">System updated to v2.02</p>
	                                    <p class="font-s13">Check the complete changelog at the <a href="javascript:void(0)">activity page</a>.</p>
	                                </div>
	                            </li>
	                            <!-- END System Notification -->
	                        </ul>
	                    </div>
	                </div>
	                <!-- END Icon Based -->
	            </div>	
	    	</div>
    	</section>
    </div>
</main>
{{ partial "footer" .}}