{{ partial "header" .}}

    <!-- Main Container -->
<main id="about">
	{{ partial "hero" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

    <div class="content bg-gray-lighter">
        <section class="content content-boxed">
            <p class="lead">{{ .Params.introduction }}</p>
	    	<div class="row">
                <div class="col-lg-6">
                {{ with .Params.mission }}
                    {{ range .blurbs }}
                        {{ partial "basicthemedblocks" . }}
                    {{ end }}
                {{ end }}
                </div>
	            <div class="col-lg-6">
	                <!-- Icon Based -->
	                <div class="block block-themed">
	                    <div class="block-header bg-primary">
	                        <h3 class="block-title">Timeline</h3>
	                    </div>
	                    <div class="block-content">
                            {{ with .Params.timeline }}
                                {{ range .milestones }}
                                    {{ partial "timeline" . }}
                                {{ end }}
                            {{ end }}
	                    </div>
	                </div>
	                <!-- END Icon Based -->
	            </div>	
	    	</div>
    	</section>
    </div>
</main>

{{ partial "footer" .}}